# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# removed due to using obj file format for 3d objects
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
*.ipch
*.ipch

#VS
.vs/
.vs/*
OpenGL_Renderer/bin/.vs/
OpenGL_Renderer/bin/.vs/*
OpenGL_Renderer/Release/*
OpenGL_Renderer/Release/
#Log File
*.tlog